<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EHC</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="registration/css/style.css"/>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        EHC | Electronic Hobby Club
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if(member) { %>
            <li class="nav-item">
              <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          <% } %>
          <li class="nav-item active">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <% if(project) { %>
    <div class="container">
      <div class="row">
        <div class="card card-body mb-3 mt-3">
          <h4><%= project.title %></h4>
          <% if(project.filepath != '-') { %>
            <div style="height: 100px;">
              <img class="img-responsive" src="/projects/images/<%= project.filepath %>" alt="" height="100%">
            </div>
          <% } %>
          <p><%= project.content %></p>
          <p>By <%= project.author %></p>
          
          <% let d = new Date(project.creationDate); %>
          <% let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
          <p><%= d.getDate() %>/<%= d.getMonth() + 1 %>/<%= d.getFullYear()%>, <%= days[d.getDay()] %>
            <!--Time: 
            <% let x = d.getHours(); %>
            <% if(x < 12) { %>
              <%= x %>:<%= d.getMinutes() %> AM
            <% } else { %>  
              <%= x - 12 %>:<%= d.getMinutes() %> PM
            <% } %>-->
          </p>
          <% if(member) { %>
            <div class="d-flex">
              <form action="/projects/delete/<%= project._id %>" method="POST">
                <button class="btn btn-danger mt-4">Delete</button>
              </form>
              <form action="/projects" class="ml-4">
                <button class="btn btn-primary mt-4">Back</button>
              </form>
            </div>
          <% } %>
      </div>
    </div>
  </div>
  <% } else { %>
  <p>No files to show</p>
  <% } %>
</body>
</html>